$ctrl_height: 2rem;

// colors
// -- background

$bg_dark: #020d30;
$bg_light: #f1f6ff;

// colors
// -- text

$t-black: #000b2e;

// sizing

$corner-radius: 1rem;
$ctrl_height: 2rem;

// breakpoints
