$ctrl_height: 2rem;

// colors
// -- background

$bg_dark: #020d30;
$bg_light: #f1f6ff;

$c_blue: #0077ff;

// colors
// -- text

$t-black: #000b2e;

// sizing

$corner-radius: 1rem;
$ctrl_height: 2rem;


// breakpoints

$xs: 576px;
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$xxl: 1400px;

// max-width
.mw-xs { max-width: $xs;}
.mw-s { max-width: $s;}
.mw-m { max-width: $m;}
.mw-l { max-width: $l;}
.mw-xl { max-width: $xl;}
